/* change image path  */
/*10px*/
/*12px*/
/*13px*/
/*14px*/
/*15px*/
/*16px*/
/*17px*/
/*18px*/
/*20px*/
/*22px*/
/*22px*/
/*24px*/
/*24px*/
/*26px*/
/*26px*/
/*30px*/
/*32px*/
/*32px*/
/*40px*/
/*42px*/
/*62px*/
/*30px*/
/*80px*/
h1 {
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e3666;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e3666;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e3666;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #666;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"],
input[type="date"], input[type="month"], input[type="time"], input[type="number"] {
  position: relative;
  width: 100%;
  height: 3rem;
  padding: 0.875rem 1rem;
  border: solid 1px #ccc;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.2;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}

input::placeholder {
  color: #ccc;
}

input[type="text"]:disabled {
  background-color: #f5f5f5;
  color: #999;
}

input[type="date"], input[type="month"], input[type="time"] {
  width: 8.75rem;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=month]::-webkit-clear-button,
input[type=month]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

input[type=date]:after, input[type=month]:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  content: url(../assets/ic_input_date.png);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

.input-number-password {
  -webkit-text-security: disc;
}

.radio-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-group input[type="radio"] {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0 none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-group input[type="radio"]:checked + label {
  background: url(../assets/bt_radio_s.svg) no-repeat;
  background-size: 1.625rem;
}

.radio-group label {
  height: 1.625rem;
  padding-left: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/bt_radio_n.svg) no-repeat;
  background-size: 1.625rem;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #222;
}

.radio-group label:not(:nth-child(2)) {
  margin-left: 1.875rem;
}

.check-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-group input[type="checkbox"] {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0 none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-group input[type="checkbox"]:checked + label {
  background: url(../assets/bt_checkbox_s.svg) no-repeat;
  background-size: 1.625rem;
}

.check-group label {
  height: 1.625rem;
  padding-left: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/bt_checkbox_n.svg) no-repeat;
  background-size: 1.625rem;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #222;
}

.check-group label:not(:nth-child(2)) {
  margin-left: 1.875rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
  outline: none !important;
  background: white;
}

input[type="checkbox"]::before {
  content: url("../assets/bt_checkbox_n.svg");
  width: 1.625rem;
  height: 1.625rem;
}

input[type="checkbox"]:checked::before {
  content: url("../assets/bt_checkbox_s.svg");
  width: 1.625rem;
  height: 1.625rem;
}

.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: #222;
}

textarea {
  border: solid 1px #ccc;
  background-color: #fff;
}

select, select.select-box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  text-overflow: ellipsis;
  background: url(../assets/ic_banner_arrow.png) no-repeat center right 1rem;
  background-size: 0.75rem 0.5rem;
  background-color: white;
  padding: 0 0.9375rem;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #111;
}

.select-wrap {
  min-width: 8.75rem;
  height: 3rem;
  border: solid 1px #ccc;
  background-color: #fff;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table.gt-table {
  width: 100%;
}

table.gt-table thead {
  height: 3.25rem;
  background-color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #111;
  border-top: 2px solid #2e3666;
  border-bottom: 1px solid #2e3666;
}

table.gt-table thead tr th {
  height: 2.1875rem;
  vertical-align: middle;
}

table.gt-table tbody tr {
  height: 3.125rem;
  border-bottom: 1px solid #ccc;
}

table.gt-table tbody tr td {
  padding: 0 0.9375rem;
  vertical-align: middle;
  text-align: center;
  font-size: 0.875rem;
  color: #111;
}

table.gt-table .t-bottom {
  border-bottom: 1px solid #2e3666;
}

ul.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.625rem;
  font-size: 0.6875rem;
  line-height: 2.18;
  text-align: center;
  color: #7d7e83;
}

ul.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.625rem;
  height: 1.625rem;
}

ul.pagination li a.active {
  background-color: #0bc890;
  color: white;
  border-radius: 1.625rem;
}

.table-wrap .table-top {
  margin-bottom: 1.25rem;
}

.table-wrap .table-bottom {
  margin-top: 1.25rem;
}

.width-240 {
  width: 15rem !important;
}

.width-140 {
  width: 8.75rem !important;
}

.width-60 {
  width: 3.75rem !important;
}

.wrapper {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper #sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2299f4), color-stop(70%, #23aca0));
  background: linear-gradient(to bottom, #2299f4, #23aca0 70%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper #btnSideOpen {
  position: fixed;
  top: 0;
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
  background: #2299f4;
  border-radius: 0 100% 100% 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper #btnSideOpen img {
  content: url(../assets/ic_left_fold.png);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wrapper.menuOpen {
  min-width: 768px;
}

.wrapper.menuOpen #sideMenu {
  width: 6rem;
}

.wrapper.menuOpen #main {
  margin-left: 6rem;
}

.wrapper.menuOpen #btnSideOpen {
  left: 6rem;
}

.wrapper.menuOpen #btnSideOpen img {
  content: url(../assets/ic_left_fold.png);
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.wrapper #sideMenu {
  overflow: auto;
}

.wrapper #sideMenu ul.menu-list > li {
  cursor: pointer;
  position: relative;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper #sideMenu ul.menu-list > li.active::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.15;
  background-color: #fff;
}

.wrapper #sideMenu ul.menu-list > li.active::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  right: 0;
  border-right: 5px solid #f0c328;
}

.wrapper #sideMenu ul.menu-list > li .menu-item {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5625rem;
  overflow: hidden;
}

.wrapper #sideMenu ul.menu-list > li .menu-item .menu-name {
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.wrapper #sideMenu ul.menu-list > li.on ul.menu-depth2 {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper ul#menu-depth2 {
  display: none;
  z-index: 5;
  width: 150px;
  padding: 10px;
  position: fixed;
  left: 6rem;
  top: 0;
  background: #4773d3;
  color: #fff;
}

.wrapper ul#menu-depth2 li {
  height: 30px;
  cursor: pointer;
}

.wrapper #main {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper #main .contents-wrap {
  padding-top: 1.875rem;
  padding-bottom: 6.25rem;
  background-color: #f8f9fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper #main .contents-wrap .contents-inner {
  width: 71.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.wrapper #main .contents-wrap .contents-inner .contents-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper #main .contents-wrap .contents-inner .contents-header .depth-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  font-size: 0.6875rem;
  line-height: 1.42;
  color: #5a5c5f;
}

.wrapper #main #footer {
  height: 13.75rem;
  background-color: #1c2338;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  line-height: 1.86;
  color: #fff;
}

.wrapper #main #footer .footer-inner {
  width: 71.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  opacity: 0.8;
}

.wrapper #main #footer .footer-inner .footer-center ul.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper #main #footer .footer-inner .footer-center ul.footer-menu li {
  position: relative;
  padding: 0 0.625rem;
}

.wrapper #main #footer .footer-inner .footer-center ul.footer-menu li:first-child {
  padding-left: 0;
}

.wrapper #main #footer .footer-inner .footer-center ul.footer-menu li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0;
  bottom: 0.3125rem;
  border-left: 1px solid #fff;
}

.wrapper #main #footer .footer-inner .footer-center .footer-info {
  padding: 1.25rem 0 1.875rem 0;
}

.wrapper #main #footer .footer-inner .footer-right {
  margin-left: 8.375rem;
}

.wrapper #main #footer .footer-inner .footer-right .footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.card {
  border: solid 1px #e5e5e5;
  background-color: #fff;
  padding: 1.875rem;
}

.content-edit-wrap .row {
  min-height: 3.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.25rem 1fr;
      grid-template-columns: 6.25rem 1fr;
  grid-auto-flow: row;
  border-bottom: 1px solid #ccc;
}

.content-edit-wrap .row:first-child {
  border-top: 2px solid #2e3666;
}

.content-edit-wrap .row .row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #111;
  text-align: left;
}

.content-edit-wrap .row .row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ic-left-logo {
  content: url(../assets/img_left_logo.png);
}

.ic-left-fold {
  content: url(../assets/ic_left_fold.png);
}

.ic-footer-logo {
  content: url(../assets/img_footer_logo.png);
}

.ic-footer-facebook {
  content: url(../assets/ic_footer_facebook.png);
}

.ic-footer-blog {
  content: url(../assets/ic_footer_blog.png);
}

.ic-footer-kakao {
  content: url(../assets/ic_footer_kakao.png);
}

.ic-menu-dashboard {
  content: url(../assets/ic_left_dashboard.png);
}

.ic-menu-counsel {
  content: url(../assets/ic_left_counsel.png);
}

.ic-menu-mywork {
  content: url(../assets/ic_left_mywork.png);
}

.ic-menu-reward {
  content: url(../assets/ic_left_reward.png);
}

.ic-menu-customer {
  content: url(../assets/ic_left_customer.png);
}

.ic-menu-product {
  content: url(../assets/ic_left_product.png);
}

.ic-menu-insight {
  content: url(../assets/ic_left_insight.png);
}

.ic-menu-my {
  content: url(../assets/ic_left_my.png);
}

.ic-favorite {
  content: url(../assets/ic_star_n.png);
}

.ic-favorite.on {
  content: url(../assets/ic_star_s.png);
}

.ic-close {
  content: url(../assets/ic_close.png);
}

.ic-page-start {
  content: url(../assets/ico-page-start-n.png);
}

.ic-page-prev {
  content: url(../assets/ico-page-prev-n.png);
}

.ic-page-next {
  content: url(../assets/ico-page-next-n.png);
}

.ic-page-end {
  content: url(../assets/ico-page-end-n.png);
}

.ic-check-s {
  content: url(../assets/bt_check_s.png);
}

.ic-check-n {
  content: url(../assets/bt_check_n.png);
}

.ic-phone {
  content: url(../assets/ic_phone.png);
  width: 2.375rem;
  height: 2.375rem;
}

.ic-id {
  content: url(../assets/ic_id.png);
  width: 2.375rem;
  height: 2.375rem;
}

.ic-add {
  content: url(../assets/ic_add.png);
  width: 0.75rem;
  height: 0.75rem;
}

.ic-title-back {
  content: url(../assets/ic_title_back.png);
  width: 1rem;
  height: 1.6875rem;
}

.img-user-01 {
  content: url(../assets/img_user_01.png);
}

.img-user-02 {
  content: url(../assets/img_user_02.png);
}

.img-user-03 {
  content: url(../assets/img_user_03.png);
}

.img-user-04 {
  content: url(../assets/img_user_04.png);
}

.img-reward-lv1 {
  content: url(../assets/img_reward_lv1.png);
}

.img-reward-lv2 {
  content: url(../assets/img_reward_lv2.png);
}

.img-reward-lv3 {
  content: url(../assets/img_reward_lv3.png);
}

@media (max-width: 1279px) {
  body, html {
    font-size: 13px;
  }
}

@media (max-width: 1023px) {
  body, html {
    font-size: 11px;
  }
}

@media (max-width: 879px) {
  body, html {
    font-size: 9px;
  }
}

.btn-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #0bc890;
}

.btn-s-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.125rem;
  font-size: 0.8125rem;
  padding: 0 1.25rem;
  font-weight: bold;
  color: #fff;
  background-color: #0bc890;
}

.btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #111;
  border: solid 1px #ccc;
  background-color: #fff;
}

button.btn-ic-search {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-color: #2299f4;
}

button.btn-ic-search::before {
  content: url(../assets/ic_search.png);
  width: 1.1875rem;
  height: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.btn-blue {
  padding: 0.875rem 1.875rem;
  height: 3rem;
  background-color: #2299f4;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
}

button.btn-excel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.25rem;
  height: 2.25rem;
  border: solid 1px #ccc;
  background-color: #fff;
  font-size: 0.8125rem;
  color: #111;
  gap: 0.5rem;
}

button.btn-excel img {
  content: url(../assets/ic_excel.png);
  width: 0.875rem;
  height: 0.875rem;
}

.area-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

#calendar {
  width: 31.25rem;
  margin: 0 auto;
}

#calendar .cal_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #8e9599;
}

#calendar .cal_nav .year-month {
  width: 18.75rem;
  text-align: center;
  line-height: 1;
}

#calendar .cal_nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

#calendar .cal_nav .go-prev, #calendar .cal_nav .go-next {
  display: block;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar .cal_nav .go-prev:hover::before, #calendar .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

#calendar .cal_nav .go-prev::before {
  content: url(../assets/ic_arrow_left.png);
}

#calendar .cal_nav .go-next::before {
  content: url(../assets/ic_arrow_right.png);
}

#calendar .cal_wrap {
  padding-top: 1.875rem;
  position: relative;
  margin: 0 auto;
}

#calendar .cal_wrap .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

#calendar .cal_wrap .days .day {
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  color: #404850;
}

#calendar .cal_wrap::after {
  top: 23rem;
}

#calendar .cal_wrap .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% / 7);
  border-radius: 3px;
}

#calendar .cal_wrap .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  height: 17.5rem;
}

#calendar .cal_wrap .dates .day {
  font-size: 0.9375rem;
  line-height: 1.47;
  text-align: center;
  color: #626c75;
}

#calendar .cal_wrap .dates .day.disable {
  color: #ccc;
}

#calendar .cal_wrap .dates .day.current.today {
  background: #0bc890;
  color: #fff;
}

ul.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.625rem;
}

ul.customer-list li.customer-card {
  width: 16.75rem;
  padding: 1.25rem 0;
}

ul.customer-list li.customer-card .item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
  padding-right: 1.375rem;
}

ul.customer-list li.customer-card .item-top .state {
  padding: 0.1875rem 1.25rem;
  border-radius: 0 0.75rem 0.75rem 0;
  font-size: 0.75rem;
  color: #fff;
}

ul.customer-list li.customer-card .item-top .state.prospecting {
  opacity: 0.99;
  background-color: #8d63ab;
}

ul.customer-list li.customer-card .item-top .state.consulting {
  background-color: #77bed0;
}

ul.customer-list li.customer-card .item-top .state.progress {
  background-color: #f65c3d;
}

ul.customer-list li.customer-card .item-top .state.telephone {
  background-color: #f6c914;
}

ul.customer-list li.customer-card .item-body {
  margin-top: 1.125rem;
  padding: 0 1.25rem;
}

ul.customer-list li.customer-card .item-body .customer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.customer-list li.customer-card .item-body .customer-info .info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
}

ul.customer-list li.customer-card .item-body .customer-info .info-txt .name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111;
}

ul.customer-list li.customer-card .item-body .customer-info .info-txt .birth {
  font-size: 0.875rem;
  color: #aaa;
}

ul.customer-list li.customer-card .item-body .customer-desc {
  margin-top: 1.25rem;
  font-size: 0.9375rem;
}

ul.customer-list li.customer-card .item-body .customer-desc li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #111;
}

ul.customer-list li.customer-card .item-body .customer-desc li span {
  width: 5.75rem;
  font-weight: 500;
  color: #666;
}

ul.customer-list li.customer-card .item-body .customer-desc li strong {
  margin-right: 0.1875rem;
}

ul.tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  height: 2.5rem;
  border-bottom: 1px solid #ccc;
}

ul.tab-menu li {
  cursor: pointer;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  color: #666;
}

ul.tab-menu li.active {
  font-weight: bold;
  color: #2e3666;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  -o-border-image: linear-gradient(to right, #0bc890 0%, #2299f4 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#0bc890), to(#2299f4));
     border-image: linear-gradient(to right, #0bc890 0%, #2299f4 100%);
  border-image-slice: 1;
}

ul.tab-menu ~ .tab-content {
  display: none;
}

ul.tab-menu ~ .tab-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

details summary .ic-open-arrow {
  content: url(../assets/ic_open_arrow.png);
  width: 0.75rem;
  height: 0.5rem;
  cursor: pointer;
}

details[open] summary .ic-open-arrow {
  content: url(../assets/ic_close_arrow.png);
  width: 0.75rem;
  height: 0.5rem;
  cursor: pointer;
}

.cl-red {
  color: #fd345d;
}

.cl-green {
  color: #0bc890 !important;
}

.modal {
  z-index: 10;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal.opaque {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal.unstaged {
  top: -100%;
  height: 0;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: RGBA(0, 0, 0, 0.6);
}

.modal-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 1.25rem 1.875rem;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  text-align: center;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.modal-contents .modal-top {
  margin-bottom: 1.25rem;
}

.modal-contents .modal-body {
  margin-bottom: 1.875rem;
}

.modal-contents h2 {
  font-size: 1.25rem;
}

.modal-contents .btn-ic-close {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
}

.modal-contents .btn-modal-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.25rem;
  min-width: 5rem;
  border: solid 1px #ccc;
  background-color: #fff;
  font-size: var(--font-size-13);
  color: #111;
}

.modal-contents .btn-modal-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.25rem;
  min-width: 5rem;
  background-color: #2299f4;
  font-size: var(--font-size-13);
  color: #fff;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-sgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=common.css.map */