@import "func.scss";
@import url("reset.css");
@import url("common.css");
#main.counsel {
  .contents-wrap {
    @include flex_center;
    min-height: $size-1080;
    .contents-inner {
      display: flex;
      width: $main_width;

      .contents-body {
        display: flex;
        flex-direction: column;
        gap: $size-30;
        min-height: $size-700;

        .no_data{
            padding: $size-30;
            h3{
                text-align: center;
            }
        }

        // 신청 진행바
        .order-bar {
          position: relative;
          width: $size-98;
          height: 5px;
          background-color: #e5e5e5;
          border-radius: 5px;

          .current-bar {
            position: absolute;
            height: 5px;
            background-color: #0bc890;
            border-radius: 5px;
            left: 0;
            z-index: 1;

            &.c1 {
              width: $size-14;
            }
            &.c2 {
              width: $size-28;
            }
            &.c3 {
              width: $size-42;
            }
            &.c4 {
              width: $size-56;
            }
            &.c5 {
              width: $size-70;
            }
            &.c6 {
              width: $size-84;
            }
            &.c7 {
              width: $size-98;
            }
          }
        }

        .btn-ck-agree {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: $size-10;
          width: 100%;
          height: $size-60;
          padding: 0 $size-20;
          border: solid 1px #ccc;
          background-color: #fff;
          font-size: $size-16;;
          font-weight: bold;
          line-height: 1.05;
          color: #aaa;

          img {
            content: url(#{$imgPath}bt_check_n.png);
            width: $size-19;
            height: $size-18;
          }

          &.checked {
            border: solid 1px #0bc890;
            color: #0bc890;
            img {
              content: url(#{$imgPath}bt_check_s.png);
            }
          }
        }
        .agree-box {
          display: flex;
          flex-direction: column;
          gap: $size-20;
          details.agree-check {
            summary {
              display: flex;
              align-items: center;
              gap: $size-10;
              height: $size-26;
              font-size: $size-14;
              line-height: 1.2;
              color: #222;
            }
            .item-desc {
              @include scrollbar('V');
              height: $size-180;
              margin-top: $size-10;
              border: solid 1px #e5e5e5;
              background-color: #fff;
              padding: $size-20;
              font-size: $size-14;
              color: #666;
            }
          }
        }
        .btn-green {
          flex: 1;
          cursor: default;
          opacity: 0.2;
          &.active {
            cursor: pointer;
            opacity: 1;
          }
        }
        .btn-white {
          flex: 1;
        }
      }
    }
  }
}

#main.counsel {
  .btn-group{
    flex-wrap: wrap;
    .btn-text{
      width: 100%;
      max-width: 100%;
      text-align: center;
      font-size: $size-16;
      text-decoration: underline;
      color: #666;
      margin-bottom: $size-10;
    }
    button {
      max-width: $size-180;
    }
  }
  &.counsel1{
    .content-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $size-20;

      .item-box {
        position: relative;
        width: calc((100% - #{$size-20}) / 2);
        padding: $size-20;
        border: solid 1px #e5e5e5;
        background-color: #fff;

        &.active {
          border: solid 1px #0bc890;
        }

        .item-top {
          display: flex;
          flex-direction: column;
          gap: $size-6;

          .name-wrap {
            display: flex;
            gap: $size-20;
            .mp-name {
              font-size: $size-20;
              font-weight: bold;
              color: #2e3666;
            }
            .mp-tel{
              padding-top: $size-5;
              font-size: $size-13;
              color: #aaa;
            }
          }
        }
        ul.mp-list {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-size: $size-13;
          color: #aaa;

          p{
            padding: $size-20 0 0 0;
          }

          i{
            color: #eee;
          }

          a {
            display: block;
            width: $size-100;
            height: $size-48;
            line-height: $size-48;
            font-size: $size-14;
            text-align: center;
            color: #111;
            border: 1px solid #ccc;
          }
        }
      }
    }

    .box01 {
      display: flex;
      align-items: flex-start;
      gap: $size-20;

      .input-box {
        display: flex;
        flex-direction: column;
        gap: $size-10;
        width: $size-460;
        .input-group{
          gap:0;
        }
        .btn{
          width: $size-100;
          height: $size-48;
          border: solid 1px #ccc;
          border-left: 0;
          text-align: center;
        }
      }

      .radio-group{
        margin-top: $size-10;
      }
    }

    .info-box{
      display: flex;
      gap: $size-30;

      .profile{
        width: calc((100% - #{$size-15}) / 2);
      }
      .input-box{
        width: calc((100% - #{$size-15}) / 2);
        max-width: 100%;
      }
      .info-box{
        width: calc((100% - #{$size-15}) / 2);
        max-width: 100%;
      }

      .title{
        font-size: $size-20;
        font-weight: bold;
        color: #2e3666;
        margin-bottom: $size-20;
        padding-bottom: $size-20;
        border-bottom: 2px solid #2e3666;
      }

      .etc-info{
        display: flex;
        flex-direction: column;
        gap: $size-10;
        font-size: $size-15;
        padding: $size-20 0 0 0;
        .tt{
          color: #666;
        }
        .co{
          padding-left: $size-10;
        }
      }

      .cor-info{
        width: 100%;
        tr{
          border-bottom: 1px solid #e5e5e5;
        }
        th{
          text-align: left;
          padding: $size-5;
        }
        td{
          padding: $size-10 $size-5;
        }
      }

      .input-box{
        display: flex;
        flex-direction: column;
        gap: $size-10;
        dl{
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 $size-16;
          border: 1px solid #ccc;
        }

        .input-group{
          dt{
            line-height: $size-48;
          }

          dd{
            display: flex;
            input{
              border: 0;
              padding: $size-14 $size-10;
              text-align: right;
            }
            span{
              white-space: nowrap;
              line-height: $size-48;
            }
          }
        }
      }

      .info-box{
        display: flex;
        flex-direction: column;
        gap: $size-10;
        dl{
          display: flex;
          width: 100%;
          padding: 0 0 0 $size-16;
          border: 1px solid #ccc;
        }
        .input-group{
          dt{
            width: $size-120;
            line-height: $size-48;
          }
          dd{
            width: calc((100% - #{$size-120}));
            input{
              border: 0;
              padding: $size-14 $size-10;
            }
          }
          .zip_code{
            display: flex;
            input {
              width: calc((100% - #{$size-90}));
            }
            button{
              width: $size-90;
              height: $size-48;
              font-size: $size-14;
              text-align: center;
            }
          }
        }
      }
    }
  }

  &.counsel2{
    .box01{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .inv{
        display: flex;
        align-items: center;
        width: $size-600;
        height: $size-48;
        background: #000;

        .inv_01{
          background: #fe0000;
        }
        .inv_02{
          background: #ff8a00;
        }
        .inv_03{
          background: #f4c900;
        }
        .inv_04{
          background: #51d600;
        }
        .inv_05{
          background: #6096ff;
        }

        li{
          width: calc(100% / 5);
          line-height: $size-48;
          font-size: $size-14;
          font-weight: 500;
          text-align: center;
          color: #fff;
          opacity: 0.6;
        }

        li.on{
          opacity: 1;
        }
      }

      .btn{
        width: $size-100;
        height: $size-48;
        border: solid 1px #ccc;
        text-align: center;
      }
    }

    .box02{
      padding: $size-30;
      text-align: center;
      background: #f8f9fd;

      h6{
        padding: 0 0 $size-20 0;
        font-size: $size-20;
        font-weight: bold;
        color: #2e3666;

        i{
          color: #1ea5d2;
        }
      }

      p{
        font-size: $size-16;
        color: #2e3666;
      }
    }

    .box03{
      display: flex;
      flex-direction: column;
      gap: $size-30 0;
      height: $size-400;
      padding: $size-20;
      border: 1px solid #f5f5f5;
      overflow-y: scroll;
      dt{
        font-size: $size-16;
        padding-bottom: $size-20;
        font-weight: 500;
      }
      dd{
        font-size: $size-14;
      }
    }
  }

  &.counsel3{
    .swiper {
      width: $size-640;
      height: $size-570;
    }
    .swiper-slide {
      position: relative;
      border: solid 1px #e5e5e5;
      background-color: #fff;
      h2{
        margin: $size-60 0  $size-20 0;
        padding-left: $size-20;
        font-size: $size-24;
        font-weight: bold;
        color: #2e3666;
        border-left: $size-20 solid #1ea5d2;
      }
      p{
        padding: 0 $size-40;
        font-size: $size-14;
        color: #666;
      }
      div{
        position: absolute;
        right: $size-40;
        bottom: $size-60;
      }
      .bar{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $size-10;
        background: #1ea5d2;
      }
      .img_box01{
        content: url(#{$imgPath}img_model_01.png);
      }
      .img_box02{
        content: url(#{$imgPath}img_model_01.png);
      }
      .img_box03{
        content: url(#{$imgPath}img_model_01.png);
      }
      .img_box04{
        content: url(#{$imgPath}img_model_01.png);
      }
      .img_box05{
        content: url(#{$imgPath}img_model_01.png);
      }
    }
    .swiper-3d .swiper-slide-shadow{
      background-color: #fff;
    }
  }

  &.counsel4{
    .title_box{
      display: flex;
      justify-content: space-between;
    }

    .set_box{
      display: flex;
      justify-content: space-between;
      gap: $size-20;
      .set_list{
        width: calc((100% - #{$size-20}) / 2);
        ul{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .tt{}
        .in{}
        .bar{
          width: 100%;
          input{
            width: 100%;
          }
        }
      }
    }
  }
}
