/* change image path  */
/*10px*/
/*12px*/
/*13px*/
/*14px*/
/*15px*/
/*16px*/
/*17px*/
/*18px*/
/*20px*/
/*22px*/
/*22px*/
/*24px*/
/*24px*/
/*26px*/
/*26px*/
/*30px*/
/*32px*/
/*32px*/
/*40px*/
/*42px*/
/*62px*/
/*30px*/
/*21px*/
/*80px*/
@import url("reset.css");
@import url("common.css");
#main.counsel .cou_btn {
    text-align: center;
}

#main.counsel .cou_btn .btn_text {
    padding-bottom: 1.25rem;
    text-align: center;
    text-decoration: underline;
    color: #666;
}

#main.counsel.counsel6 .contents-inner {
    width: 71.875rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .input-box {
    position: relative;
}

#main.counsel.counsel6 .contents-inner .contents-body .input-box .tip_box:hover .tip_con {
    display: block;
}

#main.counsel.counsel6 .contents-inner .contents-body .input-box .tip_btn {
    content: url(../assets/ic_tooltip.png);
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.625rem;
    cursor: pointer;
}

#main.counsel.counsel6 .contents-inner .contents-body .input-box .tip_con {
    display: none;
    position: absolute;
    top: 0;
    right: -13.75rem;
    z-index: 10;
    width: 13.125rem;
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border: 1px solid #111;
    background: #fff;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 21.25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box dl {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box dl dt {
    font-size: 1.125rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box dl input {
    width: 6.25rem;
    height: 1.5625rem;
    padding: 0.3125rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box dl span {
    font-size: 1.125rem;
    font-weight: bold;
    color: #0bc890;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box dl button {
    font-size: 0.6875rem;
    margin-left: 0.625rem;
    padding: 0.1875rem 1rem;
    text-align: center;
    border: solid 1px #ccc;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box dl:nth-of-type(1) {
    margin-top: 0;
}

#main.counsel.counsel6 .contents-inner .contents-body .set_box .order-bar {
    width: 100%;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box {
    text-align: center;
    padding: 1.875rem;
    background: #f8f9fd;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .tab-menu {
    justify-content: center;
    border-bottom: 0;
    margin-bottom: 1.25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .tab-content {
    justify-content: center;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box h6 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box h6 i {
    color: #1ea5d2;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .table_box {
    display: flex;
    gap: 1.25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .table_box li:nth-child(1) {
    width: 37.5rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .table_box li:nth-child(2) {
    width: 25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .table_box td.bg_red {
    font-size: 1.125rem;
    text-align: center;
    font-weight: bold;
    color: #fd345d;
    background: #fff7f9;
}

#main.counsel.counsel6 .contents-inner .contents-body .result_box .table_box td {
    padding: 0;
    background: #fff;
}

#main.counsel.counsel6 .contents-inner .contents-body .scr_col {
    width: 100%;
    overflow-x: scroll;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box th {
    border-left: 1px solid #2e3666;
    background: #f7f7f7;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box td {
    padding: 0;
    border-left: 1px solid #ccc;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box th:nth-child(1) {
    border-left: 0;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box td:nth-child(1) {
    border-left: 0;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bo_t {
    border-top: 2px solid #1ea5d2;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bo_r {
    border-right: 2px solid #1ea5d2;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bo_b {
    border-bottom: 2px solid #1ea5d2;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bo_l {
    border-left: 2px solid #1ea5d2;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bg_red {
    font-weight: bold;
    color: #fd345d;
    background: #fff7f9;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bg_gray {
    font-weight: bold;
    background: #f7f7f7;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .bg_yellow {
    background: #fffae5;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .co_blue {
    font-size: 1rem;
    font-weight: bold;
    color: #1ea5d2;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .co_gray {
    color: #999999;
    background: #e5e5e5;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type01 td:nth-child(1) {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type01 td:nth-child(8) {
    border-left: 1px solid #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type02 {
    margin-top: 1.25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type02 td:nth-child(1) {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type02 td:nth-child(9) {
    border-left: 1px solid #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type02 td:nth-child(2) {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type02 td:nth-child(9) {
    border-left: 1px solid #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type02 td:nth-child(10) {
    border-left: 1px solid #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type03 {
    margin-top: 0.625rem;
    border-top: solid 1px #ccc;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type03 td:nth-child(1) {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type03 td:nth-child(7) {
    border-left: 1px solid #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type03 td:nth-child(8) {
    border-left: 1px solid #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type04 {
    border-top: solid 1px #ccc;
    width: max-content;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type04 th {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
    width: 5rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type04 td {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
    width: 5rem;
    padding: 0.1875rem;
    text-align: right;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type04 th:nth-child(1) {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
    width: 5rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box table.type04 td:nth-child(1) {
    border-right: 1px solid #2e3666;
    background: #f7f7f7;
    width: 5rem;
    text-align: center;
}

#main.counsel.counsel6 .contents-inner .contents-body .table_box .text_box {
    padding: 0.625rem;
    font-size: 0.875rem;
    color: #666;
}
