/* change image path  */
/*10px*/
/*12px*/
/*13px*/
/*14px*/
/*15px*/
/*16px*/
/*17px*/
/*18px*/
/*20px*/
/*22px*/
/*22px*/
/*24px*/
/*24px*/
/*26px*/
/*26px*/
/*30px*/
/*32px*/
/*32px*/
/*40px*/
/*42px*/
/*62px*/
/*30px*/
/*21px*/
/*80px*/
@import url("reset.css");
@import url("common.css");
#main.advice .contents-inner {
    width: 71.875rem;
}

#main.advice .cou_btn {
    text-align: center;
}

#main.advice .cou_btn .btn_text {
    padding-bottom: 1.25rem;
    text-align: center;
    text-decoration: underline;
    color: #666;
}

#main.advice .btn-group button {
    max-width: 14.0625rem;
}

#main.advice.advice1 .contents-inner .contents-body .content-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box {
    width: calc((100% - 1.25rem) / 2);
    padding: 1.25rem;
    border: solid 1px #e5e5e5;
    background-color: #fff;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box.active {
    border: solid 1px #0bc890;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box .item-top {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box .item-top .name-wrap {
    display: flex;
    justify-content: space-between;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box .item-top .name-wrap .mp-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2e3666;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box ul.mp-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8125rem;
    color: #aaa;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box ul.mp-list p {
    padding: 1.25rem 0;
}

#main.advice.advice1 .contents-inner .contents-body .content-box .item-box ul.mp-list button {
    width: 6.25rem;
    height: 3rem;
    font-size: 0.875rem;
    text-align: center;
    color: #111;
    border: 1px solid #ccc;
}

#main.advice.advice1 .contents-inner .contents-body .info-box {
    display: flex;
    gap: 1.875rem;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .profile {
    width: 50%;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .input-box {
    width: 50%;
    max-width: 100%;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .customer-info .name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #111;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .customer-info .birth {
    padding-top: 0.375rem;
    font-size: 0.875rem;
    color: #aaa;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .etc-info {
    padding-top: 0.9375rem;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .etc-info dt {
    padding: 0.1875rem;
    font-size: 0.875rem;
    color: #aaa;
}

#main.advice.advice1 .contents-inner .contents-body .info-box .etc-info dd {
    font-size: 0.875rem;
}

/* counsel1 */
#main.advice.advice4 .contents-wrap .contents-inner .contents-body .title_box {
    display: flex;
    justify-content: space-between;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table {
    width: 50%;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table td {
    width: 50%;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table td:nth-child(2) {
    text-align: right;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table p {
    font-size: 1.125rem;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table input {
    width: 6.25rem;
    height: 1.5625rem;
    padding: 0.3125rem;
    text-align: right;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table span {
    font-size: 1.125rem;
    font-weight: bold;
    color: #0bc890;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box table button {
    font-size: 0.6875rem;
    margin-left: 0.625rem;
    padding: 0.1875rem 1rem;
    text-align: center;
    border: solid 1px #ccc;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box .bar-box {
    padding-top: 1.25rem;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box .bar-box .order-bar {
    position: relative;
    width: 100%;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .set_box .bar-box .current-bar:before {
    content: "";
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: solid 1px #dedfdf;
    border-radius: 1.25rem;
    background: #fff;
    z-index: 1;
}

#main.advice.advice4 .contents-wrap .contents-inner .contents-body .memo_box {
    height: 8.75rem;
    padding: 1rem;
    font-size: 0.875rem;
    color: #ccc;
    border: solid 1px #ccc;
}
