@charset 'UTF-8';
@import "func.scss";
@import url("reset.css");
@import url("common.css");

.wrapper #main.mo-counsel {

    .contents-wrap {
        padding-top: 0;

        .contents-inner {
            max-width: 425px;
            width: 40rem;
            .mo-top-logo{
                content: url(../assets/mo_top_logo.png);
            }
            .card{
                padding:3.3333rem;
            }
            .mo-top-txt {
                font-size: 2.6666rem;
                font-weight: bold;
                text-align: left;
                color: #2e3666;
                margin: 3.3333rem 0;
            }
            .self-certi-box{
                width: 100%;
                height: 160px;
                border: solid 1px #ccc;
                background-color: #fff;
                @include flex_center;
                flex-direction: column;
                gap:7px; 
                
                .self-img{
                    content: url(../assets/ic_id.png);
                    
                }
                p{
                    font-size: 1.3333rem;
                }
            }
        }
    }

    // 신청 진행바
    .order-bar {
        position: relative;
        width: $size-98;
        height: 5px;
        background-color: #e5e5e5;
        border-radius: 5px;

        .current-bar {
            position: absolute;
            height: 5px;
            background-color: #0bc890;
            border-radius: 5px;
            left: 0;
            z-index: 1;

            &.c1 {
                width: $size-14;
            }

            &.c2 {
                width: $size-28;
            }

            &.c3 {
                width: $size-42;
            }

            &.c4 {
                width: $size-56;
            }

            &.c5 {
                width: $size-70;
            }

            &.c6 {
                width: $size-84;
            }

            &.c7 {
                width: $size-98;
            }
        }
    }


}