@import "func.scss";
@import url("reset.css");
@import url("common.css");

#modal-schedule-view{
  .ic_edit{
    content: url(#{$imgPath}icon_edit.png);
    width: $size-16;
    height: $size-16;
  }

  .ic_delete{
    content: url(#{$imgPath}icon_delete.png);
    width: $size-16;
    height: $size-16;
  }

  .ic_timeline_calendar{
    content: url(#{$imgPath}ic_timeline_calendar.png);
    width: $size-16;
    height: $size-16;
  }

  .ic_timeline_contract{
    content: url(#{$imgPath}ic_timeline_contract.png);
    width: $size-16;
    height: $size-16;
  }

  .ic_timeline_memo{
    content: url(#{$imgPath}ic_timeline_memo.png);
    width: $size-16;
    height: $size-16;
  }

  .modal-edit{
    position: absolute;
    top: $size-15;
    right: $size-40;
  }
  .modal-delete{
    position: absolute;
    top: $size-15;
    right: $size-60;
  }

  .my_view{
    text-align: left;

    .title{
      h6{
        font-size: $size-25;
        font-weight: bold;
        color: #2e3666;
      }
      p{
        padding: $size-4 0 $size-20 0;
        font-size: $size-14;
        color: #666;
        border-bottom: 1px solid #ccc;
      }
    }

    dl{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $size-10;
      padding: $size-10 0;
      border-bottom: 1px solid #ccc;
    }

    dt{
      width: $size-20;
    }

    dd{
      width: 100%;
    }
  }
}
