/* change image path  */
/*10px*/
/*12px*/
/*13px*/
/*14px*/
/*15px*/
/*16px*/
/*17px*/
/*18px*/
/*20px*/
/*22px*/
/*22px*/
/*24px*/
/*24px*/
/*26px*/
/*26px*/
/*30px*/
/*32px*/
/*32px*/
/*40px*/
/*42px*/
/*62px*/
/*30px*/
/*21px*/
/*80px*/
@import url("reset.css");
@import url("common.css");
.my_work {
    margin-top: 1.875rem;
    background: #fff;
}

.my_work .fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my_work .fc .fc-toolbar.fc-header-toolbar {
    padding: 1.125rem 1.25rem;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk {
    display: flex;
    gap: 0 1.875rem;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
    font-size: 1.25rem;
    color: #8e9599;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-icon-chevron-left {
    display: block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: solid 1px #ccc;
    background: url(../assets/ic_arrow_Left.png) center no-repeat;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-icon-chevron-right {
    display: block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: solid 1px #ccc;
    background: url(../assets/ic_arrow_Right.png) center no-repeat;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-today-button {
    width: 3.875rem;
    height: 2rem;
    font-size: 0.8125rem;
    text-align: center;
    vertical-align: top;
    border: solid 1px #ccc;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-dayGridMonth-button {
    width: 3.75rem;
    height: 2rem;
    text-align: center;
    border: solid 1px #ccc;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-timeGridWeek-button {
    width: 3.75rem;
    height: 2rem;
    text-align: center;
    border: solid 1px #ccc;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-timeGridDay-button {
    width: 3.75rem;
    height: 2rem;
    text-align: center;
    border: solid 1px #ccc;
}

.my_work .fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk .fc-listWeek-button {
    width: 3.75rem;
    height: 2rem;
    text-align: center;
    border: solid 1px #ccc;
}

.my_work .fc .fc-button-primary {
    color: #000;
    background-color: #fff;
    border-color: initial;
}

.my_work .fc .fc-button {
    padding: 0;
    font-size: 0.8125rem;
    border: 0;
    border-radius: 0;
}

.my_work .fc .fc-icon:before {
    display: none;
}

.my_work .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
}

.my_work .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
    box-shadow: none;
}

.my_work .fc .fc-button-primary:focus {
    box-shadow: none;
}

/* my_work */
