/* change image path  */
/*10px*/
/*12px*/
/*13px*/
/*14px*/
/*15px*/
/*16px*/
/*17px*/
/*18px*/
/*20px*/
/*22px*/
/*22px*/
/*24px*/
/*24px*/
/*26px*/
/*26px*/
/*30px*/
/*32px*/
/*32px*/
/*40px*/
/*42px*/
/*62px*/
/*30px*/
/*80px*/
@import url("reset.css");
@import url("common.css");
#main.dashboard .contents-wrap .contents-inner .contents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 71.875rem;
  height: 31.25rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .graph-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .graph-top ul.tab-menu {
  margin-left: 27.25rem;
  height: 2.3125rem;
  border-bottom: none;
  gap: 1.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .graph-top ul.tab-menu li {
  height: 2.3125rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  color: #aaa;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .graph-top ul.tab-menu li.active {
  color: #2e3666;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .tab-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .tab-content.active {
  display: block;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section01 .graph-wrap .tab-content .graph-box {
  width: 100%;
  height: 100%;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap {
  margin-top: 1.25rem;
  padding: 0;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  height: 5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #2e3666;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con summary .img-career-arrow {
  margin: 0 0.625rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con summary .ic-open-arrow {
  position: absolute;
  right: 1.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap {
  height: 29.0625rem;
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box {
  padding: 2.5rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box.active::before {
  position: absolute;
  content: '';
  border: 2px solid #2299f4;
  width: 100%;
  height: calc(100% + 1px);
  top: -1px;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top {
  position: relative;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top .level {
  font-size: 1.375rem;
  font-weight: bold;
  padding-top: 0.9375rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top .level.lv1 {
  color: #1ea5d2;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top .level.lv2 {
  color: #0bc890;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top .level.lv3 {
  color: #fcb909;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top .level.lv4 {
  color: #fc6a09;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top .aum {
  font-size: 0.875rem;
  text-align: center;
  color: #666;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-top::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 1.875rem;
  background-color: #ccc;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-bottom {
  padding-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-bottom .reward-item .reward-txt {
  font-size: 1rem;
  text-align: center;
  color: #111;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-box .level-bottom .reward-item .sub-txt {
  font-size: 0.875rem;
  text-align: center;
  color: #333;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section02 .career-wrap .career-con .level-box-wrap .level-arrow-wrap {
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8.125rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap .todo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li {
  height: 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-left {
  position: relative;
  width: 0.6875rem;
  padding-top: 0.375rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-left .todo-marker {
  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 100%;
  border: solid 2px #aaa;
  background-color: #fff;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-left::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 3.9375rem;
  top: 1.4375rem;
  left: 0.3125rem;
  background-color: #ccc;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-center .todo-title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.45;
  text-align: left;
  color: #2e3666;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-center .todo-place {
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: left;
  color: #aaa;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li .todo-right {
  padding-top: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.43;
  text-align: right;
  color: #1ea5d2;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li.disabled * {
  color: #ccc !important;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .todo-wrap #todolist ul li:last-child .todo-left::before {
  width: 0;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .calendar-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section03 .calendar-wrap .calendar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section04 .customer-wrap .customer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

#main.dashboard .contents-wrap .contents-inner .contents-body .section04 .customer-wrap .customer-top .search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main.login, #main.findAcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#main.login .contents-wrap, #main.findAcc .contents-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main.login .contents-wrap .contents-inner, #main.findAcc .contents-wrap .contents-inner {
  width: 25rem !important;
}

#main.login .contents-wrap .contents-inner .contents-body, #main.findAcc .contents-wrap .contents-inner .contents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .input-box, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .input-box .phone-wrap, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .input-box .phone-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .input-box .find-pass, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .input-box .find-pass {
  display: none;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .btn-login, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .btn-login {
  width: 100%;
  height: 3.5rem;
  background-color: #0bc890;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .confirm-box, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .confirm-box {
  margin-top: 0.625rem;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  border: solid 1px #e5e5e5;
  background-color: #fff;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .confirm-box .mail-txt, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .confirm-box .mail-txt {
  font-size: 1.25rem;
  color: #2e3666;
  text-align: center;
}

#main.login .contents-wrap .contents-inner .contents-body .login-box .confirm-box .explain-txt, #main.findAcc .contents-wrap .contents-inner .contents-body .login-box .confirm-box .explain-txt {
  font-size: 0.875rem;
  color: #666;
  text-align: center;
}

#main.login .contents-wrap .contents-inner .contents-body ul.login-find, #main.findAcc .contents-wrap .contents-inner .contents-body ul.login-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  font-size: 0.8125rem;
  text-align: left;
  color: #999;
}

#main.join .contents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 67.5rem;
}

#main.join .contents-wrap .contents-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32.5rem;
}

#main.join .contents-wrap .contents-inner .contents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar {
  position: relative;
  width: 6.125rem;
  height: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar {
  position: absolute;
  height: 5px;
  background-color: #0bc890;
  border-radius: 5px;
  left: 0;
  z-index: 1;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c1 {
  width: 0.875rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c2 {
  width: 1.75rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c3 {
  width: 2.625rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c4 {
  width: 3.5rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c5 {
  width: 4.375rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c6 {
  width: 5.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c7 {
  width: 6.125rem;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-ck-agree {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  width: 100%;
  height: 3.75rem;
  padding: 0 1.25rem;
  border: solid 1px #ccc;
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.05;
  color: #aaa;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-ck-agree img {
  content: url(../assets/bt_check_n.png);
  width: 1.1875rem;
  height: 1.125rem;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-ck-agree.checked {
  border: solid 1px #0bc890;
  color: #0bc890;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-ck-agree.checked img {
  content: url(../assets/bt_check_s.png);
}

#main.join .contents-wrap .contents-inner .contents-body .agree-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .agree-box details.agree-check summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  height: 1.625rem;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #222;
}

#main.join .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc {
  overflow-x: overlay;
  scroll-behavior: smooth;
  height: 11.25rem;
  margin-top: 0.625rem;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  padding: 1.25rem;
  font-size: 0.875rem;
  color: #666;
}

#main.join .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc::-webkit-scrollbar {
  width: 6px;
  display: inline;
}

#main.join .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc::-webkit-scrollbar-track {
  background: transparent;
}

#main.join .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background: #0bc890;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-green {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: default;
  opacity: 0.2;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-green.active {
  cursor: pointer;
  opacity: 1;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-white {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main.join .contents-wrap .contents-inner .contents-body .btn-input-white {
  width: 6.25rem;
  height: 3rem;
  border: solid 1px #ccc;
  border-left: none;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  color: #111;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .input-box .input-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  font-size: 13px;
  font-weight: 500;
  color: #111;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .input-box .input-title:not(:first-child) {
  margin-top: 0.625rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box p {
  font-size: 0.875rem;
  color: #666;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .btn-confirm {
  height: 3rem;
  white-space: nowrap;
  font-size: 0.875rem;
  padding: 0.875rem 1.875rem;
  opacity: 1;
  cursor: pointer;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .resend {
  font-size: 0.875rem;
  font-weight: bold;
  color: #1ea5d2;
  text-decoration: underline;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .complete-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
  gap: 1.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .refer-txt {
  font-size: 0.875rem;
  color: #666;
  margin-top: 1.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .recommend-title {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .recommend-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1rem;
  color: #666;
  row-gap: 1.25rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .recommend-list .recommend-item {
  width: calc(100% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .recommend-list .recommend-item button.btn-join {
  height: 2.25rem;
  width: 5.5rem;
  border: solid 1px #ccc;
  background-color: #fff;
  font-size: 0.8125rem;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .recommend-list .recommend-item .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main.join .contents-wrap .contents-inner .contents-body .content-box .content-desc .recommend-list .recommend-item .name span {
  font-size: 0.875rem;
  color: #aaa;
}

#main.counsel .contents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 67.5rem;
}

#main.counsel .contents-wrap .contents-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32.5rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar {
  position: relative;
  width: 6.125rem;
  height: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar {
  position: absolute;
  height: 5px;
  background-color: #0bc890;
  border-radius: 5px;
  left: 0;
  z-index: 1;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c1 {
  width: 0.875rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c2 {
  width: 1.75rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c3 {
  width: 2.625rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c4 {
  width: 3.5rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c5 {
  width: 4.375rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c6 {
  width: 5.25rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .order-bar .current-bar.c7 {
  width: 6.125rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-ck-agree {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  width: 100%;
  height: 3.75rem;
  padding: 0 1.25rem;
  border: solid 1px #ccc;
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.05;
  color: #aaa;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-ck-agree img {
  content: url(../assets/bt_check_n.png);
  width: 1.1875rem;
  height: 1.125rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-ck-agree.checked {
  border: solid 1px #0bc890;
  color: #0bc890;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-ck-agree.checked img {
  content: url(../assets/bt_check_s.png);
}

#main.counsel .contents-wrap .contents-inner .contents-body .agree-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .agree-box details.agree-check summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  height: 1.625rem;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #222;
}

#main.counsel .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc {
  overflow-x: overlay;
  scroll-behavior: smooth;
  height: 11.25rem;
  margin-top: 0.625rem;
  border: solid 1px #e5e5e5;
  background-color: #fff;
  padding: 1.25rem;
  font-size: 0.875rem;
  color: #666;
}

#main.counsel .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc::-webkit-scrollbar {
  width: 6px;
  display: inline;
}

#main.counsel .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc::-webkit-scrollbar-track {
  background: transparent;
}

#main.counsel .contents-wrap .contents-inner .contents-body .agree-box details.agree-check .item-desc::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background: #0bc890;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-green {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: default;
  opacity: 0.2;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-green.active {
  cursor: pointer;
  opacity: 1;
}

#main.counsel .contents-wrap .contents-inner .contents-body .btn-white {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box p {
  font-size: 0.875rem;
  color: #666;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box .btn-add {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #ccc;
  background-color: #fff;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box .way-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box .way-box p.cl-green {
  font-size: 0.8125rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box .way-box .way-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

#main.counsel .contents-wrap .contents-inner .contents-body .content-box .way-box .way-box-inner .way-wrap {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: solid 1px #ccc;
  background-color: #fff;
  height: 8.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4375rem;
}

#main.counsel.counsel6 .contents-inner {
  width: 71.875rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main.counsel.counsel6 .contents-inner .contents-body .top-box .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main.counsel.counsel6 .contents-inner .contents-body .top-box .title-box p {
  font-size: 0.875rem;
  text-align: left;
  color: #666;
}

#main.counsel.counsel6 .contents-inner .contents-body .top-box .btn-sgroup .btn-white {
  width: 6.25rem;
  height: 2.25rem;
  font-size: 0.8125rem;
  font-weight: normal;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box .item-box {
  width: calc((100% - 1.25rem) / 2);
  height: 13.75rem;
  padding: 1.25rem;
  border: solid 1px #e5e5e5;
  background-color: #fff;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box .item-box.active {
  border: solid 1px #0bc890;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box .item-box .item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
  margin-bottom: 1.25rem;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box .item-box .item-top .name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box .item-box .item-top .name-wrap .mp-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2e3666;
}

#main.counsel.counsel6 .contents-inner .contents-body .content-box .item-box ul.mp-list {
  font-size: 0.875rem;
  color: #666;
}

#main.counsel.counsel6 .contents-inner .contents-body .btn-group button {
  max-width: 14.0625rem;
}

#main.reward .contents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

#main.reward .contents-body #tab01 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.reward .contents-body #tab01 h3 span {
  color: #1ea5d2;
}

#main.reward .contents-body #tab01 .level-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  height: 29.0625rem;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box {
  width: 22.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box.active {
  border: solid 2px #2299f4;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-top {
  width: 100%;
  height: 12.5rem;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-top .level {
  margin-top: 0.9375rem;
  margin-bottom: 0.1875rem;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.5;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-top .level.1 {
  color: #1ea5d2;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-top .level.2 {
  color: #0bc890;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-top .level.3 {
  color: #fcb909;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-top .aum {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #333;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-bottom .reward-item .reward-txt {
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  color: #111;
}

#main.reward .contents-body #tab01 .level-box-wrap .level-box .level-bottom .reward-item .sub-txt {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #333;
  text-align: center;
}

#main.reward .contents-body #tab02 .reward-list-box {
  width: 100%;
  padding: 1.875rem;
}

#main.reward .contents-body #tab02 .reward-list-box .explain {
  font-size: 0.75rem;
  color: #666;
}

#main.reward .contents-body #tab02 .reward-list-box .search-wrap {
  width: 100%;
  height: 5rem;
  margin: 1.25rem 0;
  padding: 0 1.25rem;
  background: #f8f9fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main.reward .contents-body #tab02 .reward-list-box .search-wrap .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

#main.reward .contents-body #tab02 .reward-list-box .search-wrap .search-box .search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main.reward .contents-body #tab02 .reward-list-box .search-wrap .search-box .search-item .search-title {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #111;
}

#main.reward .contents-body #tab02 .reward-list-box .search-wrap .search-box .search-item .search-data input {
  width: 8.75rem;
}

#main.reward .contents-body #tab02 .reward-list-box .table-wrap .table-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.25rem;
}

#main.product .contents-wrap .contents-inner .contents-body .search-warp {
  padding: 1.25rem;
  margin-bottom: 1.875rem;
  background-color: #f8f9fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

#main.product .contents-wrap .contents-inner .contents-body .search-warp .search-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

#main.product .contents-wrap .contents-inner .contents-body .search-warp .search-row .search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

#main.product .contents-wrap .contents-inner .contents-body .search-warp .search-row .search-item:not(:first-child) {
  width: 23.375rem;
}

#main.product .contents-wrap .contents-inner .contents-body .search-warp .search-row .search-item .title {
  width: 3.75rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #111;
}

#main.product .contents-wrap .contents-inner .contents-body .search-warp .btn-search {
  height: 2.25rem;
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main.product .contents-wrap .contents-inner .contents-body .table-wrap .table-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#main.product .contents-wrap .contents-inner .contents-body .table-wrap .table-top .table-total-count {
  font-size: 0.8125rem;
  line-height: 1.54;
  color: #666;
}

#main.product .contents-wrap .contents-inner .contents-body .table-wrap .table-top .table-total-count span {
  font-weight: bold;
}

#main.product .contents-wrap .contents-inner .contents-body .table-wrap .table-top .btn-new-reg {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

#main.product .contents-wrap .contents-inner .contents-body .table-wrap .gt-table tbody tr td:nth-child(3) {
  text-align: left;
}

#main.product-reg .contents-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.product-reg .default-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

#main.product-reg .default-info .content-edit-wrap .row {
  -ms-grid-columns: 9.375rem 1fr;
      grid-template-columns: 9.375rem 1fr;
}

#main.product-reg .default-info .content-edit-wrap .row .check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main.product-reg .default-info .content-edit-wrap .row .check-group input[type=checkbox]:not(:first-child) {
  margin-left: 6.25rem;
}

#main.product-reg .default-info .content-edit-wrap .row .check-group input[type=checkbox] + label {
  cursor: pointer;
}

#main.product-reg .default-info .content-edit-wrap .row .select-wrap {
  width: 100%;
}

#main.product-reg .default-info .content-edit-wrap .row .input-group {
  width: 19.375rem;
}

#main.product-reg .default-info .content-edit-wrap .row .input-group input[type=number] {
  width: 10rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

#main.product-reg .mp-info .row {
  height: 6.25rem;
  padding-top: 1.25rem;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

#main.product-reg .mp-info .row p {
  font-size: 0.875rem;
  line-height: 1.2;
  color: #222;
}

#main.product-reg .btn-group button {
  width: 11.25rem;
}

#modal-schedule-reg {
  width: 35rem;
}

#modal-schedule-reg .row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

#modal-schedule-reg textarea {
  margin: 0.3125rem 0;
  width: 100%;
}

#modal-send-result {
  width: 25rem;
}

#modal-send-result p.desc {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  color: #111;
}

#modal-send-result .email, #modal-send-result .kakao {
  display: none;
  margin-bottom: 1.875rem;
}

#modal-new-pass {
  width: 25rem;
}

#modal-new-pass .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
/*# sourceMappingURL=style.css.map */